<h1>Welcome to the blog</h1>
<a href="/post">Add new post</a>

<body>
    <% if (locals.postTitle) { %>
        
        <ul>
            <% console.log(posts) %>
            <% for(let i=0; i<locals.posts.length; i++) { %> 
                <li>
                    <%= posts[i].title %>
                </li>
            <% } %>

        </ul>
    <% } else { %>
        <h2>No posts yet</h2>
    <% } %>


</body>
