<h2>Add a new blog</h2>
<form action="/submit" method="POST">
    <label for="title">Blog Title</label><br>
    <input type="text" name="title" label="Blog Title"><br>
    <label for="subheading">Subheading</label><br>
    <input type="text" name="subheading" label="Subheading"><br>
    <label for="Contents">Contents</label><br>
    <input type="text" name="content" label="Contents">
    <input type="submit" value="SUBMIT">
</form>