<%- include("partials/header.ejs") %>

<body>
    <main class="container-fluid">
        <div class="row">
            <div>
                <h2>Add a new blog</h2>
                <form action="/submit" method="POST">
                    <label for="id">ID</label><br>
                    <input type="text" name="id" label="Unique ID"><br>
                    <label for="title">Blog Title</label><br>
                    <input type="text" name="title" label="Blog Title"><br>
                    <label for="subheading">Subheading</label><br>
                    <input type="text" name="subheading" label="Subheading"><br>
                    <label for="Contents">Contents</label><br>
                    <div>
                        <textarea type="text" name="content" label="Contents"></textarea>
                    </div>
                    <p>I'm writing a lot of text here to test the width of the box to make sure its not the forms</p>
                    
                    <input type="submit" value="SUBMIT">
                </form>

            </div>
            <div class="col-md-4 order-md-2 mb-4">
                
            </div>

    
        
        </div>
    
    </main>
    
</body>

<%- include("partials/footer.ejs") %>


